@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Public Sans", sans-serif;;

   
}
body{
    background: linear-gradient(rgba(24, 24, 24, 0.8),rgba(24,26,26,0.6)), url("Screenshot\ \(23\).png");
    background-position: center;
    background-size: cover;
   
   min-width: 100%;
    min-height: 100vh;
    z-index: -10;

}

.nva img{
    max-width: 200px;
    margin: 1px 10%;
    padding: 7px;
    z-index: 10;

}
.container{
   display: flex;
   flex-direction: column;
   
   align-items: center;
  min-height: 100%;
   margin: 20px 0px;
   
  
   
}
.small{
    background-color: rgb(0, 0, 0,0.6);
    padding: 50px 30px;
    align-items: center;
   
     width: 100%;
    margin: 10px 10px;
    z-index: -10;
}
h1{
    color: white;
    padding: 10px 0px;
    margin-left: 30px;
    opacity: 1;
    z-index:10;
    font-family: "Public Sans", sans-serif;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
    border: 1px solid rgb(56, 55, 55);
    background-color: transparent;
    padding: 1px 10px;
    color: white;
    border-radius: 4px;
}
button{
    padding: 10px 10px;
    margin: 10px 0px;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bolder;
    border-radius: 4px;
    width: 300px;
   
}
p{
    color: white;
    text-align: center;
    margin: 5px 0px;
    font-family: "Public Sans", sans-serif;

}
::placeholder{
    font-family: "Public Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(192, 185, 185);
}
.input .input-email{
    display: flex;
    flex-direction: column;
}
.btn-1{
    background-color: rgb(238, 26, 26);
    color: white;
    border: none;
}
.btn-2{
    background-color:rgba(128, 128, 128, 0.418);
    color: white;
    border: none;
}
.check{
    display: flex;
}
input[type="checkbox"] {
    font-family: "Public Sans", sans-serif;
    width: 15px;
    margin: 0 10px;
}
.input-group{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-align: start;

}
.p{
    color: rgb(146, 145, 143);
}
.p span{
    color: rgb(42, 42, 252);
    margin-left: 10px;
}
label{
    font-size: 15px;
    letter-spacing: 1px;
}
.pp{
    font-size: 15px;
    letter-spacing: 1px;
}
.small{
    color: rgb(255, 0, 0);
    letter-spacing: 1px;
}
 .seterror input{
    border: 1px solid rgb(255, 5, 5);
}
.setsucess input{
    border: 1px solid rgb(26, 255, 5);
}
input:focus,input:active{
    background-color:transparent;
}
.m{
    width: 250px;
    font-size: 12px;
    text-align: start;
}